/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base
# Components
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 1.75rem;
}

p {
	margin: 1.5em 0;
}


/* Links
--------------------------------------------- */
a,
a:visited { 
	color: #008000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

/* Header
--------------------------------------------- */
.site-header {
	background-color: #f5f5dc;
}

.site-header-width {
	max-width: 62.5rem;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a.site-name {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	color: #282828;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 4.5rem;  /* Matches the height of the .site-header */
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #f5f5dc;
}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.25rem;
	text-decoration: none;
	color: #282828;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

@media (min-width: 50em) {

	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		line-height: 4.5rem; /* Matches the height of the .site-header */
		padding: 0 1rem;
	}

}


/* Main
--------------------------------------------- */
.site-main {
	max-width: 62.5rem;
	margin: 0 auto;
	padding: 0 1rem;
}

section h2 {
	margin: 0;
	padding: .5em 0;
	background-color: #ffc9b4;
}

/* Section: Products */
.product {
	max-width: 18rem;
	margin: 2rem auto;
	box-shadow: 0px 0px 3px 2px #eee;
}

.product-text {
	padding: 1rem;
}

.product-name {
	font-size: 1.5rem;
	margin: 0;
}

a.product-link {
	display: inline-block;
	padding: .5rem 1rem;
	background-color: #008000;
	color: #fff;
	text-decoration: none;
}

a.product-link:hover,
a.product-link:focus,
a.product-link:active {
	background-color: #00800080;
}

a.product-link:focus {
	outline: 1px dotted #008000;
}

@media (min-width: 50em) {

	.section-products {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.section-products h2 {
		width: 100%;
	}

	.product {
		margin: 1rem;
	}

}

/* Section: Chat box */
.chatbox {
	width: 9rem;
	border: 1px solid #008000;
	border-radius: 1rem;
	background-color: #ffc9b4;
	text-align: center;
}

.chatbox a {
	display: block;
	padding: 1rem;
}

.chatbox svg {
	display: block;
	margin: 0 auto;
	width: 3rem;
	height: 3rem;
}

.chatbox svg path {
	fill: currentColor;
}


/* Footer
--------------------------------------------- */
footer {
	text-align: center;
	background-color: #f5f5dc;
	padding: 2rem;
}

footer p {
	margin: 0;
}
